<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <!--https://github.com/NLog/NLog/wiki/File-target-->
  <!--Remember to set file property for "Copy to Output Directory" to "Copy if newer"-->
  <targets async="true">
    <target name="MultiSqlLogfile" xsi:type="File"
            fileName="${basedir}/Log/MultiSql.log"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
            archiveFileName="${basedir}/Log/{#}|MultiSql.log"
            archiveNumbering="Date"
            maxArchiveFiles="10"
            layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}${onexception:${newline}${exception:format=toString,Data:separator=\r\n\t:exceptionDataSeparator=\r\n\t}}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="MultiSqlLogfile" />
  </rules>
</nlog>